<div class="col-md-4 col-sm-6">
    <div class="service-wrapper">
        <img class="sponsor-logo {{ sponsor.sponsorship_level }}" src="/media/{{ sponsor.logo_image }}" alt="{{ sponsor.name }}">
        <h3>{{ sponsor.name }}</h3>
        <p>{{ sponsor.description }}</p>
        {% if sponsor.website %}
            <a href="{{ sponsor.website }}" target="_blank" class="btn">Careers</a>
        {% endif %}
    </div>
</div>
{% if forloop.counter|divisibleby:3 %}
    {# Bootstrap clear fix #}
    <div class="clearfix visible-md-block visible-sm-block"></div>
{% endif %}