{% extends 'base.html' %}

{% block breadcrumb %}
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Calendar</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <iframe src="https://www.google.com/calendar/embed?src=ais.byu%40gmail.com&ctz=America/Denver" style="border: 0" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}