{% extends "base.html" %}

{% block slider %}
    <!-- Homepage Slider -->
    <div class="homepage-slider">
        <div id="sequence">
            <ul class="sequence-canvas">
                {% for item in events.items %}
                    <li class="bg{{ forloop.counter }}">
                        <!-- Slide Title -->
                        <h2 class="title">{{ item.object.attachments.0.displayName }}</h2>
                        <!-- Slide Text -->
                        <h3 class="subtitle">{{ item.object.attachments.0.content }}</h3>
                        <!-- Slide Image -->
                        <a class="btn btn-blue slide-btn" href="{{ item.object.url }}" target="_blank "> View on Google+ </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="sequence-pagination-wrapper">
                <ul class="sequence-pagination">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Homepage Slider -->
{% endblock %}

{% block body %}
<!-- Call to Action Bar -->
<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="calltoaction-wrapper">
                    <h3>Not a member yet? </h3> <a href="https://marriottschool.byu.edu/clubs/index/clublist?club=2" class="btn btn-orange">Join today!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Bar -->
<!-- Press Coverage -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <div class="in-press">
                    <a>If you choose information systems, you will open doors for your future and have a distinct competitive advantage over your peers. The bottom line is that corporations of today find that there are simply not enough individuals to fill their needs.<br/> - Jonathan Landon, Deloitte</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/BYUAIS" data-widget-id="578604479999700992">Tweets by @BYUAIS</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</div>
<!-- Press Coverage -->
{% endblock %}