{% extends "base.html" %}

{% block slider %}
    <!-- Homepage Slider -->
    <div class="homepage-slider">
        <div id="sequence">
            <ul class="sequence-canvas">
                {% for item in events.items %}
                    <li class="bg1">
                        <!-- Slide Title -->
                        <h2 class="title">{{ item.object.attachments.0.displayName }}</h2>
                        <!-- Slide Text -->
                        <h3 class="subtitle">{{ item.object.attachments.0.content }}</h3>
                        <!-- Slide Image -->
                        <a class="" href="{{ item.object.url }}" target="_blank "> See on Google+ </a>
                    </li>
                    <script type="text/javascript">console.log({{ item.object }});</script>
                {% endfor %}
            </ul>
            <div class="sequence-pagination-wrapper">
                <ul class="sequence-pagination">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Homepage Slider -->
{% endblock %}