{% extends 'base.html' %}

{% block breadcrumb %}
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Sponsors</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<!-- Sponorship cards -->
<div class="section">
    <div class="container">
        <div class="row">
            <h1>Platinum Sponsors</h1>
            {% for sponsor in platinum_sponsors %}
                {% include 'partials/sponsor_card.html' %}
            {% endfor %}
        </div>
        <div class="row">
            <h1>Gold Sponsors</h1>
            {% for sponsor in gold_sponsors %}
                {% include 'partials/sponsor_card.html' %}
            {% endfor %}
        </div>
        <div class="row">
            <h1>Silver Sponsors</h1>
            {% for sponsor in silver_sponsors %}
                {% include 'partials/sponsor_card.html' %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Services -->
{% endblock %}